* {
  margin: 0;
  padding: 0;
  /* max-width: 100%; */
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
/* header starts */
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.list-rapper {
  width: 980px;
  padding: 15px 0;
  margin: 0 auto;
}
.list-rapper ul {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 200;
  font-size: 10.5px;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.list-rapper img {
  width: 18px;
}
.list-rapper ul li img :hover {
  opacity: 0.8;
  color: blue;
}
.header .list-rapper ul li :hover {
  opacity: 1;
  color: white;
}

.list-rapper a {
  text-decoration: none;
  list-style: none;
  color: (255, 255, 255);
}
.list-rapper :hover {
  opacity: 1;
}
/* section one start */
/* section one end  */

/* section 2 iphone 11 start */
.section-2-iphone11-pro {
  background-image: url(../images/home/iphone11-pro-bg.jpg);
  height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
}
.section-2-contentcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section-2-paragraph-1 {
  font-size: 56px;
  font-weight: 600;
  color: white;
}
#section-2-paragraph-2 {
  font-size: 26px;
  padding: 12px 0 0px 0;
  color: white;
}
#section-1-paragraph-3 {
  font-size: 17px;
  margin: 10px 0 18px 0;
  color: rgb(134, 134, 139);
}
#section-1-anchors {
  padding: 15px 0;
} /* end of section 2 */
