* {
  margin: 0;
  padding: 0;
  /* max-width: 100%; */
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
/* header starts */
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.list-rapper {
  width: 980px;
  padding: 15px 0;
  margin: 0 auto;
}
.list-rapper ul {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 200;
  font-size: 10.5px;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.list-rapper img {
  width: 18px;
}
.list-rapper ul li img :hover {
  opacity: 0.8;
  color: blue;
}
.header .list-rapper ul li :hover {
  opacity: 1;
  color: white;
}

.list-rapper a {
  text-decoration: none;
  list-style: none;
  color: (255,255,255);
}
.list-rapper :hover {
  opacity: 1;
}

/* Main Highlight */
.main-highlight-wrapper {
	background: #fafafa;
	text-align: center;
	padding: 25px 0;
}
.links-wrapper ul {
	list-style: none;
}
.model {
	font-size: .85em;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
}
.links-wrapper ul li a:hover {
	color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}